name: Flutter Web Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Змінити на master, якщо потрібно

# Додайте цей блок permissions на рівні job! Це критично.
permissions:
  contents: read # Дозвіл на читання коду
  pages: write   # Дозвіл на запис (деплой) на GitHub Pages
  id-token: write # Дозвіл для OIDC-токенів, потрібен для actions/deploy-pages@v4

jobs:
  build_web:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Build Flutter Web Release
        run: flutter build web --release

      - name: Setup Pages
        # Екшен для налаштування середовища GitHub Pages.
        # Це також виправляє попередження про невідомий input 'path'
        uses: actions/configure-pages@v4

      - name: Upload Web Artifact
        # Цей екшен завантажує папку 'build/web' і дає їй назву 'github-pages'
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/web' # Зверніть увагу, що path використовується тут (upload), а не в deploy

      - name: Deploy to GitHub Pages
        id: deployment
        # Екшен deploy-pages тепер використовує permissions, встановлені вище, 
        # і не вимагає додаткових параметрів 'token' або 'path'.
        uses: actions/deploy-pages@v4