name: Flutter Web Build and Deploy to gh-pages

on:
  push:
    branches:
      - main # Змінити на master, якщо ваша основна гілка називається master

# Тут не потрібні спеціальні permissions, але їх наявність не завадить
permissions:
  contents: write # Потрібен для peaceiris/actions-gh-pages, щоб створити нову гілку
  pages: write   
  id-token: write 

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Build Flutter Web Release
        run: flutter build web --release

      - name: Deploy to GitHub Pages (via gh-pages branch)
        # Це перевірений екшен, який сам деплоїть у гілку gh-pages
        uses: peaceiris/actions-gh-pages@v3 
        with:
          # Використовуємо вбудований токен для авторизації
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Вказуємо, яку папку публікувати
          publish_dir: ./build/web
          # Вказуємо гілку, в яку буде здійснено деплой
          publish_branch: gh-pages